* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(58, 94, 179);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-shadow: 0 0 5px rgb(0, 55, 156), 0 0 2px rgb(0, 55, 156);
}

.searchbar {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

#input {
  padding: 1rem 1rem;
  background: whitesmoke;
  border: none;
  outline: none;
  width: 50rem;
  font-size: 1.2rem;
  color: rgb(56, 56, 56);
}

.search-button {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background: rgb(16, 39, 83);
  border: none;
  outline: none;
  color: whitesmoke;
  cursor: pointer;
}

.location {
  font-size: 2rem;
  color: rgb(248, 248, 248);
  font-weight: 800;
}

.information {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(166, 193, 255);
}

.temp {
  padding: 4rem;
  background: rgb(66, 105, 197);
  text-align: center;
}

.temp h4 {
  font-size: 2.2rem;
}

.temp p {
  font-size: 1.2rem;
  color: rgb(0, 48, 161);
}
